NEXT_PUBLIC_FIREBASE_API_KEY= AIzaSyDOoL1X7CQdT7UClxwjskxi62fNnb6Ifq4
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN= forcatarefa-e45cf.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID= forcatarefa-e45cf
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET= forcatarefa-e45cf.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID= 569551522756
NEXT_PUBLIC_FIREBASE_APP_ID= 1:569551522756:web:cd3f3ea502c3f50e7cf291
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID= G-FNYP1YPJXD


